@import "tailwindcss";
@plugin "daisyui";

.bg-image{
  background: url(./assets/bg-shadow.png);
  background-position: center;
  background-color: black;
}
.bg-newsletter{
  background: url(./assets/bg-shadow.png);
  background-position: center;
  background-color: white;
}